

<!-- ROX: Trebuie lucrat la header. MObilitati IN, Mobilitati OUT, Vizualizare toate tabele, Statistici.
    Hover peste MObilitati IN, Mobilitati OUT, cu vizualizare mobilitati si cu vizualizare participanti-->
<!-- ROX: De luat jstree(htnml) de aici si pus in Mobilities/Index-->

<!--ROX:IN header url trebuie sa fie astfel:
    Mobilitati IN- localhost/Mobilities?type=IN
    Mobilitati OUT- localhost/Mobilities?type=OUT
    Person IN- localhost/Person?type=IN
    Person OUT- localhost/Person?type=OUT
    -->

<!--Chestia ascunsa care nu se vede, si care ne usureaza de cod scris aproape la fel este contruirea dinamica a 
    url care returneaza obiectul json; construire facuta cu ajutorul unui parametru din url. IN/OUT
    Acest  lucru trebuie implementat in scripturile json.mobilities.js si json.person.js-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="index,follow" />

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jstree")
    <script type="text/javascript" src="~/Scripts/jsgrid.min.js"></script>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>

</head>


<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand">@Html.ActionLink("ERASMUS", "Index", "Home")</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav"></ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a> <div id="jstree"></div></a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        @RenderBody()

    </div>

</body>
</html>
